
.bigbox, .bigbox2{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.box_1{
    width: 200px;
    height: 200px;
    background-color: rgb(63, 63, 230);
}
.box_2{
    width: 200px;
    height: 200px;
    background-color: rgb(250, 18, 18);
}
.box_3{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 81);
}
.box_4{
    width: 200px;
    height: 200px;
    background-color: rgb(250, 235, 30);
}
